body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  display: flex;
  justify-content: space-around;

  &__convert {
    
  }

  &__table {}
}

.convert {  

  &__content {
    position: fixed;
  }

  &__top {
    margin-bottom: 20px;
  }
  
  &__bottom {}

  &__select,
  &__input,
  &__result {
    padding: 5px 10px;
  }

  &__select {
  }

  &__input {
  }

  &__result {
  }
}

.table {
  border-collapse: collapse;

  th,
  td {
    padding: 10px 15px;
    border: 1px solid #2e2e2e;
  }
}

