<div class="convert">
  <div class="convert__block">
    <select class="convert__select" id="cur1">
      <option>USD</option>
      <option>RUB</option>
      <option>AMD</option>
      <option>AUD</option>
      <option>AZN</option>
      <option>BRL</option>
      <option>BYN</option>
      <option>CAD</option>
      <option>CHF</option>
      <option>CNY</option>
      <option>CZK</option>
      <option>DKK</option>
      <option>EUR</option>
      <option>GBP</option>
      <option>HKD</option>
      <option>HUF</option>
      <option>INR</option>
      <option>JPY</option>
      <option>KGS</option>
      <option>KRW</option>
      <option>KZT</option>
      <option>MDL</option>
      <option>NOK</option>
      <option>PLN</option>
      <option>SEK</option>
      <option>SGD</option>
      <option>TJS</option>
      <option>TMT</option>
      <option>TRY</option>
      <option>UAH</option>
      <option>UZS</option>
      <option>XDR</option>
      <option>ZAR</option>
    </select>
    <input class="convert__input" type="number" id="val" placeholder="введите сумму..." />
  </div>
  <div class="convert__block">
    <select id="cur2">
      <option>RUB</option>
      <option>AMD</option>
      <option>AUD</option>
      <option>AZN</option>
      <option>BRL</option>
      <option>BYN</option>
      <option>CAD</option>
      <option>CHF</option>
      <option>CNY</option>
      <option>CZK</option>
      <option>DKK</option>
      <option>EUR</option>
      <option>GBP</option>
      <option>HKD</option>
      <option>HUF</option>
      <option>INR</option>
      <option>JPY</option>
      <option>KGS</option>
      <option>KRW</option>
      <option>KZT</option>
      <option>MDL</option>
      <option>NOK</option>
      <option>PLN</option>
      <option>SEK</option>
      <option>SGD</option>
      <option>TJS</option>
      <option>TMT</option>
      <option>TRY</option>
      <option>UAH</option>
      <option>USD</option>
      <option>UZS</option>
      <option>XDR</option>
      <option>ZAR</option>
    </select>
    <span class="convert__result">00,0000</span>
  </div>
</div>
